---
http_interactions:
- request:
    method: post
    uri: https://analyticsreporting.googleapis.com/v4/reports:batchGet
    body:
      encoding: UTF-8
      string: '{"reportRequests":[{"dateRanges":[{"startDate":"2015-01-01","endDate":"2015-01-31"},{"startDate":"2015-03-01","endDate":"2015-03-31"}],"dimensions":[{"name":"ga:browser"}],"filtersExpression":null,"metrics":[{"expression":"ga:sessions"}],"viewId":"XXXX"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer foobar
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "reports": [
            {
              "columnHeader": {
                "dimensions": [
                  "ga:browser"
                ],
                "metricHeader": {
                  "metricHeaderEntries": [
                    {
                      "name": "ga:sessions",
                      "type": "INTEGER"
                    }
                  ]
                }
              },
              "data": {
                "rows": [
                  {
                    "dimensions": [
                      "Firefox"
                    ],
                    "metrics": [
                      {
                        "values": [
                          "2161"
                        ]
                      },
                      {
                        "values": [
                          "2171"
                        ]
                      }
                    ]
                  },
                  {
                    "dimensions": [
                      "Internet Explorer"
                    ],
                    "metrics": [
                      {
                        "values": [
                          "1705"
                        ]
                      },
                      {
                        "values": [
                          "2019"
                        ]
                      }
                    ]
                  }
                ],
                "totals": [
                  {
                    "values": [
                      "3866"
                    ]
                  },
                  {
                    "values": [
                      "4190"
                    ]
                  }
                ]
              }
            }
          ]
        }
  recorded_at: Tue, 03 Jul 2018 19:09:49 GMT
recorded_with: VCR 4.0.0
